In [7]:
a = [1, 2, -5, 0.3, 6, -2, 4]
b = ["one", "two", "three"]
c = [True, True, True, False, True]
print(a)
print(b)
print(c)

[1, 2, -5, 0.3, 6, -2, 4]
['one', 'two', 'three']
[True, True, True, False, True]

In [8]:
import numpy as np
cells = [3, 15,-27,38]
r_Rafael = ["R1", "R2"]
c_Rafael = ["C1", "C2"]
Rafael_matrix = np.matrix(cells).reshape(2,2)
print(Rafael_matrix)

[[  3  15]
 [-27  38]]

In [9]:
import pandas as pd
import numpy as np
Rafael1 = [1, 2, 3, 4]
Rafael2 = ["red", "white", "red", np.nan]
Rafael3 = [True, True, True, False]

dataku = pd.DataFrame({"ID": Rafael1, "Color": Rafael2, "Passed": Rafael3})
print(dataku)

   ID  Color  Passed
0   1    red    True
1   2  white    True
2   3    red    True
3   4    NaN   False

In [10]:
import pandas as pd
data_Rafael = pd.DataFrame({"id": list("abcdefghij"), "x": list(range(1,11)), "y": list(range(11, 21))})
print(data_Rafael)

  id   x   y
0  a   1  11
1  b   2  12
2  c   3  13
3  d   4  14
4  e   5  15
5  f   6  16
6  g   7  17
7  h   8  18
8  i   9  19
9  j  10  20

In [11]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
import mysql.connector

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="houseprices"
)

cursor = connection.cursor()

try:
    my_query = "SELECT * FROM rafael_houseprices;"
    cursor.execute(my_query)

    result = cursor.fetchall()

    print("\nHasil Kueri:")
    for row in result:
        print(row)

finally:
    cursor.close()
    connection.close()

Hasil Kueri:
('100900;1610;2;2;2;No;North',)
('102500;1900;3;3;3;No;North',)
('102600;1910;3;2;4;No;North',)
('102700;1900;4;2;4;No;North',)
('103200;1810;3;2;3;No;East',)
('103200;2010;3;2;5;No;North',)
('104000;1730;3;3;3;No;East',)
('105600;1930;3;3;3;No;East',)
('105600;1990;2;2;3;No;East',)
('106100;1820;3;2;3;Yes;North',)
('106600;1560;2;2;1;No;East',)
('106900;1900;2;2;2;No;North',)
('107300;1650;3;2;3;No;North',)
('107500;1700;3;2;3;Yes;North',)
('108200;1740;3;2;2;No;North',)
('108500;2130;3;2;4;No;North',)
('108700;2110;3;2;3;No;East',)
('109700;1920;2;2;4;No;North',)
('110400;1930;2;3;3;No;North',)
('111100;1450;2;2;1;Yes;North',)
('111400;1700;2;2;1;Yes;East',)
('111600;1710;2;2;1;No;North',)
('112300;1930;2;2;2;Yes;North',)
('113500;2070;2;2;2;No;North',)
('113800;2000;3;2;4;No;North',)
('114200;2030;4;2;3;No;East',)
('114300;1790;2;2;2;No;East',)
('114600;1780;3;2;2;No;North',)
('114800;1740;3;2;1;No;East',)
('114900;1740;2;2;2;No;North',)
('115700;2000;3;2;3;Yes;North',)
('115900;1980;2;2;2;No;East',)
('116200;1790;3;2;3;No;East',)
('116500;2150;3;2;2;No;East',)
('117000;1990;3;3;3;Yes;East',)
('117100;2080;3;3;3;No;North',)
('117400;2150;2;3;4;No;North',)
('117500;1880;2;2;2;No;North',)
('117800;1920;3;2;2;No;North',)
('117800;2000;2;2;3;No;North',)
('119200;2110;4;2;3;No;East',)
('119700;1900;3;3;3;Yes;East',)
('119800;2130;3;3;3;No;East',)
('120500;1910;2;3;2;No;East',)
('121300;2130;3;2;3;No;North',)
('123000;1870;2;2;2;Yes;East',)
('123100;2260;3;3;5;No;East',)
('123600;1940;2;2;2;Yes;East',)
('124500;2010;4;3;2;No;East',)
('124600;2250;3;3;4;No;North',)
('125700;1720;2;2;2;Yes;East',)
('125700;2040;3;3;2;No;East',)
('126200;2210;3;3;4;No;North',)
('126300;2150;3;3;5;Yes;North',)
('126800;2000;2;2;1;Yes;East',)
('127700;1930;3;3;2;No;North',)
('129800;1930;3;2;2;No;West',)
('129800;1990;2;3;2;No;North',)
('130300;1860;3;2;2;No;West',)
('130800;2100;3;2;3;No;North',)
('131300;1720;3;2;1;No;West',)
('132500;2030;3;2;3;Yes;East',)
('133300;2440;3;3;3;No;East',)
('133600;1840;4;3;2;No;West',)
('134000;1890;3;2;1;Yes;East',)
('135000;2250;3;3;3;Yes;East',)
('136800;2410;3;3;4;No;East',)
('137000;2000;4;2;3;No;West',)
('138100;1840;3;3;1;No;West',)
('139600;2280;5;3;4;Yes;East',)
('140900;2190;3;2;3;Yes;East',)
('142600;2110;3;2;2;No;West',)
('143100;1920;4;2;2;No;West',)
('143400;2190;3;3;4;Yes;East',)
('143600;1780;4;2;1;No;West',)
('144200;2140;3;3;3;No;West',)
('144800;2060;2;2;1;Yes;East',)
('145500;2060;3;2;1;No;West',)
('145800;1780;4;2;1;No;West',)
('146900;2530;4;3;4;No;West',)
('147000;2420;4;3;4;No;West',)
('147100;2190;3;3;4;Yes;East',)
('147700;2410;3;3;2;No;East',)
('147900;2160;4;3;3;Yes;East',)
('149300;2290;4;3;3;No;North',)
('149900;2020;3;3;1;No;West',)
('150200;1950;3;2;3;Yes;North',)
('150700;2160;4;2;2;No;West',)
('151100;2100;3;2;3;Yes;East',)
('151600;1830;3;3;3;Yes;West',)
('151900;2040;4;3;3;No;East',)
('152300;2240;4;3;3;No;West',)
('152500;1970;2;2;1;Yes;West',)
('154000;1920;3;2;1;Yes;East',)
('155400;2090;4;2;1;No;West',)
('156400;2210;4;3;2;Yes;East',)
('157100;2080;3;3;2;No;East',)
('157600;2160;4;2;1;No;West',)
('160600;2150;4;3;3;Yes;West',)
('161300;2220;4;3;2;No;West',)
('164800;2050;2;2;1;Yes;West',)
('165600;2080;4;3;3;No;West',)
('166500;1940;3;3;2;Yes;West',)
('166700;1950;3;3;3;Yes;West',)
('167200;1920;3;3;2;Yes;West',)
('171000;2080;3;3;2;Yes;West',)
('172500;1880;3;3;1;Yes;West',)
('176500;2280;4;3;3;Yes;West',)
('176800;2590;4;3;4;No;West',)
('180900;2200;3;3;1;No;West',)
('182000;2250;4;3;3;Yes;West',)
('184300;2140;4;3;2;Yes;West',)
('188000;2040;4;3;1;Yes;West',)
('188300;2250;4;3;2;Yes;West',)
('199500;2290;5;4;1;Yes;West',)
('211200;2440;4;3;3;Yes;West',)
('69100;1600;2;2;3;No;North',)
('81300;1650;3;2;3;No;North',)
('82300;1910;3;2;4;No;East',)
('83600;1990;3;3;4;No;North',)
('90300;2050;3;2;6;No;North',)
('90500;1520;2;2;3;No;North',)
('91100;1860;2;2;3;No;North',)
('91700;1690;3;2;3;No;North',)
('93600;2140;3;2;4;No;North',)
('94700;1980;3;2;3;No;East',)
('97800;2010;2;2;4;No;North',)
('99300;1700;3;2;2;No;East',)

In [13]:
df = pd.DataFrame(result, columns=["raw_data"])
df = df["raw_data"].str.split(";", expand=True)
df.columns = ["Price", "SqFt", "Bedrooms", "Bathrooms", "Offers", "Brick", "Neighborhood"]

df_filtered = df[df["Brick"] == "No"]

print("\nHasil Filter:")
print(df_filtered)

Hasil Filter:
      Price  SqFt Bedrooms Bathrooms Offers Brick Neighborhood
0    100900  1610        2         2      2    No        North
1    102500  1900        3         3      3    No        North
2    102600  1910        3         2      4    No        North
3    102700  1900        4         2      4    No        North
4    103200  1810        3         2      3    No         East
..      ...   ...      ...       ...    ...   ...          ...
123   91700  1690        3         2      3    No        North
124   93600  2140        3         2      4    No        North
125   94700  1980        3         2      3    No         East
126   97800  2010        2         2      4    No        North
127   99300  1700        3         2      2    No         East

[86 rows x 7 columns]

In [26]:
import pandas as pd

# Pastikan result adalah daftar string yang berisi data
# Misalnya result = ["100900;1610;2;2;2;No;North", "102500;1900;3;3;3;No;North", ...]

# Pecah string menjadi kolom berdasarkan ";"
df = pd.DataFrame(result, columns=["raw_data"])
df = df["raw_data"].str.split(";", expand=True)

# Atur nama kolom
df.columns = ["Price", "SqFt", "Bedrooms", "Bathrooms", "Offers", "Brick", "Neighborhood"]

# Ubah tipe data agar tidak salah saat filter
df["Price"] = pd.to_numeric(df["Price"], errors="coerce")
df["SqFt"] = pd.to_numeric(df["SqFt"], errors="coerce")
df["Bedrooms"] = pd.to_numeric(df["Bedrooms"], errors="coerce")
df["Bathrooms"] = pd.to_numeric(df["Bathrooms"], errors="coerce")
df["Offers"] = pd.to_numeric(df["Offers"], errors="coerce")

# Hapus baris yang kosong atau tidak valid
df = df.dropna()

# Hapus duplikasi (jika ada)
df = df.drop_duplicates()

# Cek jumlah baris setelah bersih
print("Jumlah total baris setelah pembersihan:", len(df))

# Filter data
df_filtered = df[(df["Brick"] == "No") | (df["Neighborhood"] == "East")]

# Tampilkan hasil
print("\nHasil Filter:")
print(df_filtered)

Jumlah total baris setelah pembersihan: 128

Hasil Filter:
      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    100900  1610         2          2       2    No        North
1    102500  1900         3          3       3    No        North
2    102600  1910         3          2       4    No        North
3    102700  1900         4          2       4    No        North
4    103200  1810         3          2       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
123   91700  1690         3          2       3    No        North
124   93600  2140         3          2       4    No        North
125   94700  1980         3          2       3    No         East
126   97800  2010         2          2       4    No        North
127   99300  1700         3          2       2    No         East

[105 rows x 7 columns]

In [34]:
import mysql.connector

# Koneksi ke database MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="ps2[rafael]"
)

cursor = connection.cursor()

try:
    # Query ke tabel yang sesuai
    my_query = "SELECT * FROM praktikum_probalatihan2;"
    cursor.execute(my_query)
    
    result = cursor.fetchall()

    print("\nHasil Kueri:")
    for row in result:
        print(row)

finally:
    # Menutup koneksi
    cursor.close()
    connection.close()

Hasil Kueri:
('Rara', 'P', 2026, 150, 15, 'Taman Anggrek')
('Manda', 'P', 2026, 165, 60, 'Bekasi')
('Rukhy', 'P', 2026, 160, 60, 'Bekasi')
('Tya', 'P', 2026, 150, 45, 'Taman Anggrek')
('Ica', 'P', 2026, 165, 60, 'Bekasi')
('Delia', 'P', 2026, 160, 60, 'Jakbar')
('Gita', 'P', 2026, 160, 60, 'Tangsel')
('Viky', 'L', 2026, 160, 60, 'Bekasi')
('Fiki', 'L', 2026, 180, 60, 'Kalteng')
('Ibnu', 'L', 2026, 170, 70, 'Tangsel')
('Ricky', 'L', 2026, 160, 45, 'Grogol')
('Akmal', 'L', 2026, 160, 35, 'Tangerang')
('Dhila', 'P', 2026, 155, 60, 'Tangerang')
('Noto', 'L', 2026, 170, 45, 'Grogol')
('Ricardo', 'L', 2026, 170, 30, 'Jawa')
('Alya', 'P', 2026, 170, 60, 'Brunai')
('Aldo', 'L', 2026, 170, 70, 'Bekasi')
('Vika', 'P', 2026, 160, 15, 'Ambon')
('Aldy', 'L', 2026, 160, 25, 'Daan Mogot')
('Kresna', 'L', 2026, 165, 70, 'Bekasi')

In [36]:
import pandas as pd
#Mengonversi hasil kueri ke DataFrame Pandas
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

#Filter data berdasarkan kondisi yang kompleks
df_filtered = df[(df['Gender'] == 'L')]

#Menampilkan hasil filter
print(df_filtered)

       Nama Gender  Angkatan   Tinggi_Badan  Waktu Perjalanan Wilayah Tinggal
7      Viky      L      2026            160                60          Bekasi
8      Fiki      L      2026            180                60         Kalteng
9      Ibnu      L      2026            170                70         Tangsel
10    Ricky      L      2026            160                45          Grogol
11    Akmal      L      2026            160                35       Tangerang
13     Noto      L      2026            170                45          Grogol
14  Ricardo      L      2026            170                30            Jawa
16     Aldo      L      2026            170                70          Bekasi
18     Aldy      L      2026            160                25      Daan Mogot
19   Kresna      L      2026            165                70          Bekasi