In [26]:
import pandas as pd

dataset_path = "C:\\Users\\LENOVO\\Praktikum Prob 2.csv"
df = pd.read_csv(dataset_path, sep=";")
df.columns = df.columns.str.strip()

In [27]:
df_subset = df[["Tinggi Badan"]]
print("Subset Data:\n", df_subset.head())

Subset Data:
    Tinggi Badan
0           170
1           165
2           160
3           150
4           165

In [28]:
df["Kategori Tinggi"] = df["Tinggi Badan"].apply(lambda x: "Tinggi" if x > 160 else "Pendek")
print("\nSetelah Mengubah Nilai Tinggi Badan:\n", df[["Tinggi Badan", "Kategori Tinggi"]].head())

Setelah Mengubah Nilai Tinggi Badan:
    Tinggi Badan Kategori Tinggi
0           170          Tinggi
1           165          Tinggi
2           160          Pendek
3           150          Pendek
4           165          Tinggi

In [29]:
df["Jurusan"] = "Infor20"
df["Fakultas"] = "FTI"
print("\nSetelah Menambah Kolom:\n", df.head())

Setelah Menambah Kolom:
     Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0   Diva      P      2020           170                15   Taman Anggrek
1  Manda      P      2020           165                60          Bekasi
2  Rukhy      P      2020           160                60          Bekasi
3    Tya      P      2020           150                45   Taman Anggrek
4    Ica      P      2020           165                60          Bekasi

  Kategori Tinggi  Jurusan Fakultas
0          Tinggi  Infor20      FTI
1          Tinggi  Infor20      FTI
2          Pendek  Infor20      FTI
3          Pendek  Infor20      FTI
4          Tinggi  Infor20      FTI

In [30]:
df.drop(columns=["Fakultas"], inplace=True)
print("\nSetelah Menghapus Kolom Fakultas:\n", df.head())

Setelah Menghapus Kolom Fakultas:
     Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0   Diva      P      2020           170                15   Taman Anggrek
1  Manda      P      2020           165                60          Bekasi
2  Rukhy      P      2020           160                60          Bekasi
3    Tya      P      2020           150                45   Taman Anggrek
4    Ica      P      2020           165                60          Bekasi

  Kategori Tinggi  Jurusan
0          Tinggi  Infor20
1          Tinggi  Infor20
2          Pendek  Infor20
3          Pendek  Infor20
4          Tinggi  Infor20

In [31]:
df["Nama_Gender"] = df["Nama"] + "_" + df["Gender"]
df["Angkatan_Tinggi"] = df["Angkatan"].astype(str) + "_" + df["Tinggi Badan"].astype(str)
df["Gabungan"] = df["Nama_Gender"] + "_" + df["Angkatan_Tinggi"]
print("\nSetelah Merge Data Frame:\n", df[["Nama_Gender", "Angkatan_Tinggi", "Gabungan"]].head())

Setelah Merge Data Frame:
   Nama_Gender Angkatan_Tinggi          Gabungan
0      Diva_P        2020_170   Diva_P_2020_170
1     Manda_P        2020_165  Manda_P_2020_165
2     Rukhy_P        2020_160  Rukhy_P_2020_160
3       Tya_P        2020_150    Tya_P_2020_150
4       Ica_P        2020_165    Ica_P_2020_165

In [32]:
df_baris1 = df.iloc[0:5]
df_baris2 = df.iloc[24:30]
df_baris_merged = pd.concat([df_baris1, df_baris2])
print("\nGabungan Baris:\n", df_baris_merged)

Gabungan Baris:
      Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0    Diva      P      2020           170                15   Taman Anggrek
1   Manda      P      2020           165                60          Bekasi
2   Rukhy      P      2020           160                60          Bekasi
3     Tya      P      2020           150                45   Taman Anggrek
4     Ica      P      2020           165                60          Bekasi
24   Joko      L      2020           170                60          Meruya
25   Lina      P      2020           160                45      Cengkareng
26   Rian      L      2020           168                55     Kebon Jeruk
27   Sari      P      2020           158                35          Grogol
28  Wahyu      L      2020           172                70        Palmerah
29   Hani      P      2020           162                50          Tomang

   Kategori Tinggi  Jurusan Nama_Gender Angkatan_Tinggi          Gabungan
0           Tinggi  Infor20      Diva_P        2020_170   Diva_P_2020_170
1           Tinggi  Infor20     Manda_P        2020_165  Manda_P_2020_165
2           Pendek  Infor20     Rukhy_P        2020_160  Rukhy_P_2020_160
3           Pendek  Infor20       Tya_P        2020_150    Tya_P_2020_150
4           Tinggi  Infor20       Ica_P        2020_165    Ica_P_2020_165
24          Tinggi  Infor20      Joko_L        2020_170   Joko_L_2020_170
25          Pendek  Infor20      Lina_P        2020_160   Lina_P_2020_160
26          Tinggi  Infor20      Rian_L        2020_168   Rian_L_2020_168
27          Pendek  Infor20      Sari_P        2020_158   Sari_P_2020_158
28          Tinggi  Infor20     Wahyu_L        2020_172  Wahyu_L_2020_172
29          Tinggi  Infor20      Hani_P        2020_162   Hani_P_2020_162

In [34]:
df_sorted = df.sort_values(by="Waktu Perjalanan")
print("\nSetelah Sorting Data:\n", df_sorted.head())

Setelah Sorting Data:
        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0      Diva      P      2020           170                15   Taman Anggrek
17    Riska      P      2020           160                15          Grogol
18     Aldy      L      2020           160                25      Daan Mogot
14  Ricardo      L      2020           170                30            Jawa
23    Citra      P      2020           155                30          Tomang

   Kategori Tinggi  Jurusan Nama_Gender Angkatan_Tinggi            Gabungan
0           Tinggi  Infor20      Diva_P        2020_170     Diva_P_2020_170
17          Pendek  Infor20     Riska_P        2020_160    Riska_P_2020_160
18          Pendek  Infor20      Aldy_L        2020_160     Aldy_L_2020_160
14          Tinggi  Infor20   Ricardo_L        2020_170  Ricardo_L_2020_170
23          Pendek  Infor20     Citra_P        2020_155    Citra_P_2020_155