In [11]:
import pandas as pd

In [12]:
pip install openpyxl

Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/c0/da/977ded879c29cbd04de313843e76868e6e13408a94ed6b987245dc7c8506/openpyxl-3.1.5-py2.py3-none-any.whl.metadata
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Obtaining dependency information for et-xmlfile from https://files.pythonhosted.org/packages/c1/8b/5fe2cc11fee489817272089c4203e679c63b570a5aaeb18d852ae3cbba6a/et_xmlfile-2.0.0-py3-none-any.whl.metadata
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/250.9 kB 660.6 kB/s eta 0:00:01
   ----------- --------------------------- 71.7/250.9 kB 787.7 kB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.9 MB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
df = pd.read_csv("Praktikum Probalatihan2.csv", sep=';')
df

       Nama Gender  Angkatan   Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0      Rara      P      2026            150                15   Taman Anggrek
1     Manda      P      2026            165                60          Bekasi
2     Rukhy      P      2026            160                60          Bekasi
3       Tya      P      2026            150                45   Taman Anggrek
4       Ica      P      2026            165                60          Bekasi
5     Delia      P      2026            160                60          Jakbar
6      Gita      P      2026            160                60         Tangsel
7      Viky      L      2026            160                60          Bekasi
8      Fiki      L      2026            180                60         Kalteng
9      Ibnu      L      2026            170                70         Tangsel
10    Ricky      L      2026            160                45          Grogol
11    Akmal      L      2026            160                35       Tangerang
12    Dhila      P      2026            155                60       Tangerang
13     Noto      L      2026            170                45          Grogol
14  Ricardo      L      2026            170                30            Jawa
15     Alya      P      2026            170                60          Brunai
16     Aldo      L      2026            170                70          Bekasi
17     Vika      P      2026            160                15           Ambon
18     Aldy      L      2026            160                25      Daan Mogot
19   Kresna      L      2026            165                70          Bekasi

In [15]:
df = pd.read_excel("Praktikum Probalatihan2.xlsx")
df

       Nama Gender  Angkatan   Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0      Rara      P      2026            150                15   Taman Anggrek
1     Manda      P      2026            165                60          Bekasi
2     Rukhy      P      2026            160                60          Bekasi
3       Tya      P      2026            150                45   Taman Anggrek
4       Ica      P      2026            165                60          Bekasi
5     Delia      P      2026            160                60          Jakbar
6      Gita      P      2026            160                60         Tangsel
7      Viky      L      2026            160                60          Bekasi
8      Fiki      L      2026            180                60         Kalteng
9      Ibnu      L      2026            170                70         Tangsel
10    Ricky      L      2026            160                45          Grogol
11    Akmal      L      2026            160                35       Tangerang
12    Dhila      P      2026            155                60       Tangerang
13     Noto      L      2026            170                45          Grogol
14  Ricardo      L      2026            170                30            Jawa
15     Alya      P      2026            170                60          Brunai
16     Aldo      L      2026            170                70          Bekasi
17     Vika      P      2026            160                15           Ambon
18     Aldy      L      2026            160                25      Daan Mogot
19   Kresna      L      2026            165                70          Bekasi

In [39]:
data_Rafael = pd.read_csv("C:/Users/LENOVO/Praktikum Probalatihan2.csv", sep=';')
data_Rafael

       Nama Gender  Angkatan   Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0      Rara      P      2026            150                15   Taman Anggrek
1     Manda      P      2026            165                60          Bekasi
2     Rukhy      P      2026            160                60          Bekasi
3       Tya      P      2026            150                45   Taman Anggrek
4       Ica      P      2026            165                60          Bekasi
5     Delia      P      2026            160                60          Jakbar
6      Gita      P      2026            160                60         Tangsel
7      Viky      L      2026            160                60          Bekasi
8      Fiki      L      2026            180                60         Kalteng
9      Ibnu      L      2026            170                70         Tangsel
10    Ricky      L      2026            160                45          Grogol
11    Akmal      L      2026            160                35       Tangerang
12    Dhila      P      2026            155                60       Tangerang
13     Noto      L      2026            170                45          Grogol
14  Ricardo      L      2026            170                30            Jawa
15     Alya      P      2026            170                60          Brunai
16     Aldo      L      2026            170                70          Bekasi
17     Vika      P      2026            160                15           Ambon
18     Aldy      L      2026            160                25      Daan Mogot
19   Kresna      L      2026            165                70          Bekasi